body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

#kontener {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#baner {
    text-align: center;
    margin-bottom: 20px;
}

#baner h1 {
    font-size: 36px;
    color: #ff69b4;
    margin: 0;
}

#menu {
    text-align: center;
}

#nav {
    list-style: none;
    padding: 0;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #333;
    transition: background-color 0.3s;
}

#nav li a:hover {
    display: block;
    background-color: #ff69b4;
    color: #fff;
}

#nav li ul {
    display: none;
    overflow:hidden;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#nav li:hover ul {
    display: block;
    padding:0%;
}

#nav li ul li {
    display: block;
    white-space: nowrap;
}

#nav li ul li a {
    padding: 10px 10px;
    color: #333;
    display: block;
}

#nav li ul li a:hover {
    display: block;
    background-color: #ff69b4;
    color: #fff;
    
}


#formularz {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#baner h1 {
    font-size: 36px;
    text-align: center;
    color: #ff69b4; 
    margin-bottom: 20px; /* Dodatkowy odstęp między nagłówkiem a formularzem */
}

fieldset {
    margin-bottom: 20px;
}

legend {
    font-size: 24px;
    color: #ff69b4; 
    margin-bottom: 10px; /* Dodatkowy odstęp między nagłówkiem a zawartością */
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

textarea,
select {
    width: calc(100% - 22px); /* Szerokość elementów formularza dostosowana do ramki */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
    background-color: #ff69b4; /* Różowy kolor przycisków */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px; /* Dodatkowy odstęp między przyciskami */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #b32163; /* Ciemniejszy różowy kolor po najechaniu myszką */
    transform: translateY(-2px); /* Podnoszenie przycisku o 2 piksele po najechaniu myszką */
}

#stopka {
    text-align: center;
    margin-top: 20px;
    color: #666;
}
